# top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8

[Makefile]
indent_style = tab

[{*.yml,*.yaml}]
indent_style = space
indent_size = 2

[*.cs]
indent_style = space
indent_size = 4
# Constants UPPER_CASE
dotnet_naming_style.upper_case_style.capitalization = all_upper
dotnet_naming_style.upper_case_style.word_separator = _
dotnet_naming_symbols.constants.applicable_kinds = field
dotnet_naming_symbols.constants.required_modifiers = const
dotnet_naming_rule.constants_upper.symbols = constants
dotnet_naming_rule.constants_upper.style = upper_case_style
dotnet_naming_rule.constants_upper.severity = suggestion
# Private methods camelCase
dotnet_naming_symbols.private_methods.applicable_kinds = method
dotnet_naming_symbols.private_methods.applicable_accessibilities = private
dotnet_naming_style.camel_case_style.capitalization = camel_case
dotnet_naming_rule.private_methods_camel.symbols = private_methods
dotnet_naming_rule.private_methods_camel.style = camel_case_style
dotnet_naming_rule.private_methods_camel.severity = suggestion

#
# C# language specific formatting
#   Docs: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options
#   Roslyn is a good real-world example: https://github.com/dotnet/roslyn/blob/main/.editorconfig
#

# Visual Studio default, specify explicitly because it's not the dotnet format default
csharp_space_after_cast = true
